*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.color_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
h3{
  font-size: 3rem;
}
.displayColor{
  width: 270px;
  height: 270px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.3rem 1rem #000;
}
.displayColor h4{
  color: hsl(0, 5%, 15%);
  text-shadow: .2px 1px #ffff;
  font-size: 1.3rem; 
}

.labelforColor{
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bolder;
  gap: .4rem 0;
}
input[type = "color"]{
  padding: 0.3rem;
  width: 80px;
  height: 50px;
  border-radius: 10px;
}

